* {
  padding: 0;
  /* margin: 0; */
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

#github-container {
  padding: 15px;
  width: 90vw;
  height: fit-content;
  /* overflow-y: scroll; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-gap: 50px;
  justify-content: center;
}


.userBtn {
  background-color: #DCDCDC;
  line-height: 100px;
  text-align: center;
  height: 100px;
  width: 200px;
  border-radius: 7px;
}

.userBtn:hover {
  transform: scale(1.02);
  transition: 0.2s ease-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
}

.userCard {
  /* border: 1px solid red; */
  width: 80vw;
  height: 60vh;
  display: flex;
}

.userBio {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.repos {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}

img {
  height: 30vh;
}


li {
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 90%;
  margin: 15px auto;
  background-color: #DCDCDC;
  border-radius: 5px;
}
